@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: rgb(255, 187, 0);
    --secondary-color: rgb(30, 60, 126);
    --whitesmoke: rgb(246, 246, 246);
    --paragraph-color: rgb(192, 192, 192);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito";
    background:rgb(244, 246, 248);
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    height: 100%;
}
/*Utilities */
.inner-row{
    width:90%;
    margin:auto;
}
.intro-text{
    text-align: center;
    width:760px;
    margin:auto;
}
.intro-text h1{
    font-size: 60px;
    font-family: 'Montserrat';
    color:var(--secondary-color);
    text-transform: capitalize;
}
.intro-text h1 span{
    color: var(--main-color);
}
.intro-text p{
    font-size:20px;
    margin:20px 0;
    line-height: 35px;
    font-weight: 500;
}

.topbar{
    background: var(--whitesmoke);
}
.topbar .inner-row{
    width:1200px;
}
.topbar-content{
    display: flex;
    justify-content:space-between;
    padding:15px 0;
}
.topbar-content span{
    text-transform: uppercase;
    font-size:13px;
    display: flex;
    align-items: center;
    gap:5px;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
.topbar-content span ion-icon{
    font-size: 24px;
    color:var(--main-color);
    margin-top: -3px;
}
.topbar-content .topbar-left span:hover{
    cursor: pointer;
    color: var(--main-color);
}
.landing{
    background: linear-gradient(rgba(32, 32, 32, 0.65), rgba(24, 24, 24, 0.75)), url("../images/about-landing.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    position: relative;
}
header{
    background:transparent;
}
header .inner-row{
    width:1200px;
}
header .logo{
    width:268px;
}

header .logo img{
    object-fit: contain;
}
.header-top-section{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
}
.header-top-section .quick-contact-details{
    display: flex;
    gap: 50px;
}

.header-top-section .quick-location,
.header-top-section .quick-numbers{
    display: flex;
    align-items: center;
    gap:20px;
}
.header-top-section span{
    width:50px;
    height:50px;
    padding-right: 5px;
    border-right: 1px solid rgb(226, 226, 226);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}
.header-top-section p{
    font-size: 15px;
    color: var(--whitesmoke);
}

.header-content nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:relative;
    background: rgba(146, 146, 146, 0.5);
    padding:0 30px;
}
.header-content nav ul{
    display: flex;
    gap:50px;
    padding:20px 0;
}
.header-content nav ul li a{
     font-size:16px;
     text-transform: uppercase;
     font-weight: 700;
     color:#fff;
}
.header-content nav ul li a:hover,
.header-content nav ul li.active a{
    color:var(--main-color);
}
.header-content nav span{
    font-size: 24px;
    display: inline-flex;
    color: var(--whitesmoke);
}

.mobile-trigger-btn {
    cursor: pointer;
    width: 30px;
    height:auto;
    margin:20px 0px 0px 20px;
    position: absolute;
    left: 40px;
    top:116px;
    z-index:90;
    display: none;
  }
  .mobile-trigger-btn span {
    background: #fff;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
  }
  .mobile-trigger-btn span:nth-child(1) {
    animation: outTp 0.8s backwards;
    -webkit-animation: outTp 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn span:nth-child(2) {
    margin: 5px 0;
    animation: outMd 0.8s backwards;
    -webkit-animation: outMd 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn span:nth-child(3) {
    animation: outBtm 0.8s backwards;
    -webkit-animation: outBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn.active i:nth-child(1) {
    -webkit-animation: inTp 0.8s forwards;
    animation: inTp 0.8s forwards;
  }
  
  .mobile-trigger-btn.active i:nth-child(2) {
    -webkit-animation: inMd 0.8s forwards;
    animation: inMd 0.8s forwards;
  }
  
  .mobile-trigger-btn.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }


#sidebar{
    z-index:99;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(32, 24, 0, 0.77);
    display: none;
    justify-content: flex-end;
}
.sidebar-content{
    width:300px;
    height:100%;
    background:var(--whitesmoke);
    position: relative;
    padding:30px;
}

.sidebar-content .close-btn{
    text-align: right;

}
.sidebar-content .close-btn ion-icon{
    font-size:35px;
    cursor: pointer;
}
.sidebar-content ul li{
    padding:10px 0;
    border-top:1px solid rgb(209, 209, 209);
}
.sidebar-content ul li a{
    font-weight: 600;
    color:#111;
    font-size: 17px;
}
.sidebar-content ul li.active a,
.sidebar-content ul li a:hover{
     color:var(--main-color);
}

.landing .landing-texts{
    position: absolute;
    right: 5%;
    bottom:10%;
    display: flex;
    align-items: flex-end;
    font-family: "Montserrat";
    color: var(--whitesmoke);
    gap: 10px;
}
.landing-texts h1{
    font-size:50px;
    line-height: 40px;
}
.landing-texts h2{
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500;
}
.landing-texts h2 span{
    color: var(--main-color);
}

#about{
    width:100%;
}

.about-first-section,
.about-second-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgb(240, 240, 240);
}
.about-description-side{
    padding: 80px;
    position:relative;
    width: 100%;
    overflow: hidden;
}
.description-slider{
    width: 100% !important;
    position: relative;
}
.about-slide h1,
.about-second-description h1{
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size:35px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
.about-slide h1 span,
.about-second-description h1 span{
     color: var(--main-color);
}
.about-slide span.underling{
    margin-bottom: 30px;
    display: block;
    font-style: italic;
    font-size: 18px;    
}

.about-slide p{
    font-size:17px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 20px;
}
.about-slide ul{
    margin: 30px 0;
}
.about-slide ul li{
    line-height: 35px;
    font-size: 17px;
    
}
.about-slide ul li span{
    font-size:14px;
    color: #444;
}
.slick-arrow{
    position:absolute;
    bottom: -30px;
    width: 30px;
    height: 30px;
    background:var(--secondary-color);
    padding:5px;
    border:none;
    cursor: pointer;

}
.slick-arrow img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.slick-arrow.next-arrow{
    left: 40px;
}
.about-first-section .about-first-image{
     background: url("../images/about-image2.jpg") no-repeat;
     background-size: cover;
}
.about-second-section .about-second-image{
    background: url("../images/about-image1.jpg") no-repeat;
    background-size: cover;
}
.about-second-description{
    padding: 80px 60px;
}
.about-second-description p{
    font-style: italic;
    font-size: 17px;
    line-height: 28px;
}

.simple-values{
    margin: 30px 0;
}

.value-moja{
    display: flex;
    gap:10px;
    margin-bottom: 50px;
}
.value-moja .icon{
    width: 80px;
    height:70px;
    flex-shrink: 0;
}
.value-description h2{
    font-size:25px;
    text-transform: uppercase;
    font-family: "Montserrat";
}
.value-description p{
    font-size: 17px;
    font-style: normal;
    margin-top:10px;
    width: 80%;
}

#heritage{
    padding: 80px 0;
}

.heritage-years{
    display: flex;
    gap:50px;
    margin-top: 5%;
}
.heritage-left-shifts{
    width: 25%;
    flex-shrink: 0;
}
.heritage-left-shifts ul li{
     padding: 20px;
     border-top: 1px solid gainsboro;
     display: flex;
     gap:20px;
     position:relative;
     cursor: pointer;
}
.heritage-left-shifts ul li.active{
     position:relative;
}
.heritage-left-shifts ul li.active::after{
    content: "";
     position:absolute;
     right:-5px;
     top:0;
     width: 10px;
     height: 100%;
     background: var(--main-color);
     clip-path: polygon(0 0, 50% 0, 50% 45%, 100% 50%, 45% 55%, 50% 100%, 0 100%);
}
.heritage-left-shifts ul li h3{
    font-size: 28px;
    font-family: "Montserrat";
    color: #333;
}
.heritage-left-shifts ul li.active h3{
    color: var(--secondary-color);
}
.heritage-left-shifts ul li p{
    font-size: 18px;
    color: #777;
    font-weight: 600;
    line-height: 30px;
}
.heritage-left-shifts ul li p{
    color: #333;
}
.shift-container-moja{
    display: flex;
    gap:30px;;
}
.shift-description-side{
    width:60%;
}
.shift-description-side h1{
    font-size:70px;
    color: rgb(199, 210, 218);
    font-family: "Montserrat";
}
.shift-description-side h4{
    font-size: 22px;
}
.shift-description-side .simple-line{
    width:100%;
    height:1px;
    background: rgb(199, 210, 218);
   margin: 25px 0;
}
.shift-description-side p{
    font-size:18px;
    line-height: 32px;
}
.quote-section{
    display: flex;
    gap:10px;
    margin-top:10px;
}
.quote-section span{
    width:30px;
    height:30px;
    flex-shrink: 0;
}
.quote-section span::before{
    content: "\201c";
    font-size:100px;
    line-height: 90px;
    color: var(--secondary-color);
}
.shift-description-side a{
    color: var(--main-color);
    font-size:18px;
    display: block;
    margin-top: 30px;
    font-weight: 600;
}

.shift-container-moja .image-side{
    position: relative;
    flex-shrink: 0;
    width: 35%;
}
.shift-container-moja .image-side .first-box{
     width: 250px;
     height: 350px;
     background: rgb(238, 238, 238);
     position:absolute;
     transform: translate(0%, 20%);
     -webkit-transform: translate(0%, 20%);
     -moz-transform: translate(0%, 20%);
     -ms-transform: translate(0%, 20%);
     -o-transform: translate(0%, 20%);
     transition: transform 0.5s ease;
     -webkit-transition: transform 0.5s ease;
     -moz-transition: transform 0.5s ease;
     -ms-transition: transform 0.5s ease;
     -o-transition: transform 0.5s ease;
     z-index: 1;
}
.shift-container-moja .image-side .second-box{
    width: 250px;
    border: 3px solid var(--main-color);
    height:350px;
    position: absolute;
    transform: translate(25px, 12%);
    -webkit-transform: translate(25px, 12%);
    -moz-transform: translate(25px, 12%);
    -ms-transform: translate(25px, 12%);
    -o-transform: translate(25px, 12%);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    z-index: 2;
}
.shift-container-moja .image-side .image-box{
     width: 250px;
     height: 350px;
     position:absolute;
     left: 15%;
     top: 15px;
     z-index: 3;
}

.shift-container-moja .image-side:hover .first-box{
    transform: translate(25px, 12%);
    -webkit-transform: translate(25px, 12%);
    -moz-transform: translate(25px, 12%);
    -ms-transform: translate(25px, 12%);
    -o-transform: translate(25px, 12%);
}
.shift-container-moja .image-side:hover .second-box{
    transform: translate(0%, 20%);
     -webkit-transform: translate(0%, 20%);
     -moz-transform: translate(0%, 20%);
     -ms-transform: translate(0%, 20%);
     -o-transform: translate(0%, 20%);
}

#expertise{
    background: rgb(231, 239, 243);
    padding: 80px 0;
}

.expertise-types-row{
    display: flex;
    margin:80px auto;
    width:1150px;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.expertise-moja{
    text-align: center;
    width:200px;
}
.expertise-box{
    border:7px solid white;
    width:130px;
    height:130px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgb(224, 224, 224);
    background-color: var(--secondary-color);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    margin:0 auto 60px auto;
}

.expertise-moja:hover .expertise-box{
     transform:rotate(-45deg);
     -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
     -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
     background: var(--main-color);
}
.expertise-box .expertise-icon{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    
}
.expertise-moja:hover .expertise-box .expertise-icon{
    animation:rotateBack 1s ease forwards;
    -webkit-animation:rotateBack 1s ease forwards;
    animation-delay: 0.5s;
}
.expertise-icon img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.expertise-box:hover .expertise-icon img{
    filter: invert(0);
    -webkit-filter: invert(0);
}
.expertise-moja h3{
    text-transform: uppercase;
    font-family: "Montserrat";
    display: block;
    font-size: 20px;
    font-weight: 600;
}
.expertise-moja:hover h3{
    color: var(--secondary-color);
}

#why-choose{
     padding: 80px 0;
}

.why-choose-content .intro-text{
     width: 80%;
}

.brand-essentials{
    display: flex;
    justify-content: center;
    margin:50px 0px 10px;
    gap:50px;
    flex-wrap: wrap;
}
.brand-moja{
    display: flex;
    align-items: center;
    gap:20px;
}
.brand-moja .brand-image{
    width:40px;
    height:40px;
}
.brand-moja h1{
    font-size:28px;
    color:#444;
}

.map-thingie{
    width: 700px;
    margin: 50px auto 0px auto;
}


#team{
    background:white;
    padding:80px 0px;
}
#team .inner-row{
    width:1200px;
}
.team-content-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:50px auto 0 auto;
    gap: 30px;
}
.team-member{
    display: flex;
    flex-direction: column;
}
.team-member .profile-image{
    position:relative;
}

.team-member .profile-details{
    text-align: center;
    padding:15px 0;
    background:var(--secondary-color);
    text-transform: uppercase;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.profile-details h3{
    font-family: "Montserrat";
    color: var(--whitesmoke);
    font-size:20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.profile-details p{
    font-size:13px;
    color: var(--main-color);
}

.profile-links{
    background: rgba(245, 245, 245, 0.88);
    position: absolute;
    width:100%;
    bottom:0;
    height:60px;
    opacity: 0;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.profile-links ul{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.profile-links ul li a{
    color: var(--main-color);
    font-size: 22px;
}
.team-member:hover .profile-links{
    opacity:1;
}
.team-member:hover .profile-details{
    background: var(--main-color);
}
.team-member:hover .profile-details p{
    color: var(--secondary-color);
}

#status{
    padding: 80px 0;
    background: rgb(41, 77, 156);
}

.status-content-row{
     display: flex;
     justify-content: space-around;
     width:90%;
     margin: auto;
     padding-bottom: 60px;
     position: relative;
     flex-wrap: wrap;
     gap:30px;
}
.status-content-row::after{
     content: "";
     width: 90%;
     height: 1px;
     background: rgba(220, 220, 220, 0.544);
     margin: auto;
     position: absolute;
     bottom:0;
     left:50%;
     transform: translateX(-50%);
}
.status-moja{
    display: flex;
    align-items: center;
    gap: 10px;
}
.status-moja span{
     border: 2px solid whitesmoke;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 30px;
}
.status-moja .numbers h2{
    font-family: "Montserrat";
    font-size: 50px;
    color: white;
}
.status-moja .numbers p{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}

.simple-description{
    width: 80%;
    margin: 60px auto;
}

.simple-description p{
      text-align: center;
      color: white;
      line-height: 30px;
      font-size: 18px;
}

.status-btns{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.status-btns a{
      width: 200px;
      height: 45px;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
}
.contact-btn{
     border: 1px solid whitesmoke;
}
.order-btn{
     background-color: var(--main-color);
     border: 1px solid var(--main-color) !important;
}



#partners{
    padding: 80px 0;
    background:white;
}

.partners-content{
    display: flex;
    width: 90%;
    margin:auto;
}
 .partner-moja{
    width:100px;
    height:100px !important;
    filter: invert(0.4);
    -webkit-filter: invert(0.4);
    cursor: pointer;
}
.partner-moja img{
    object-fit: contain;
}
.partner-moja:hover{
    filter: invert(0);
    -webkit-filter: invert(0);
}

#call-to-action{
    background:rgba(255, 191, 14, 0.959);
}
.call-to-action-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.call-to-action-content .description{
    padding:60px 0;
    grid-column: 1/3;
    background:rgba(255, 191, 14, 0.959);
}
.call-to-action-content .description-inner{
    width:80%;
    margin:auto;
}
.call-to-action-content .description h2{
    font-size:35px;
    font-weight: 100;
}
.call-to-action-content .description h1{
    font-size:35px;
    text-transform: uppercase;
    font-family: "Montserrat";
    margin:5px;
    font-weight: 600;
}
.call-to-action-content .button-side{
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    background:rgb(247, 181, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-side a{
    width: 200px;
    height: 55px;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.button-side a:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

footer{
    background:rgba(0, 94, 156);
    padding:100px 0 80px 0;
}
footer .inner-row{
    width:1200px;
}

.footer-logo{
    width:250px;
    margin-bottom: 30px;
}

.footer-content{
    display: grid;
    margin:auto;
    grid-template-columns: repeat(4,1fr);
    gap:50px;
}
.footer-column p{
    font-size:18px;
    color: var(--whitesmoke);
    line-height: 30px;
    color: gainsboro;
}

.footer-social-links{
    margin-top:20px;
}
.footer-social-links ul{
    display: flex;
    gap:30px;
}
.footer-social-links ul li a{
    font-size:24px;
    color:white;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
.footer-social-links ul li a:hover{
    color: var(--main-color);
}

.footer-column .footer-title{
     text-transform: uppercase;
     color: var(--whitesmoke);
     font-weight:bold;
     font-family: "Montserrat";
     font-size: 25px;
     position: relative;
     padding-left:5%;
    margin-bottom:18%;
}
.footer-title::before{
    content: "";
     position: absolute;
     width:4px;
     height: 100%;
     background: var(--main-color);
     left:0;
}
.footer-column ul{
    padding-left: 5%;
}
.footer-column ul li{
    line-height: 40px;
}
.footer-column ul li a{
    font-size: 18px;
    position:relative;
    color: gainsboro;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.footer-column ul li a:hover{
     color: var(--main-color);
}
.footer-column ul li a::after{
    content: "";
    width:0;
    height:2px;
    background:var(--main-color);
    position:absolute;
    bottom:-5px;
    left:50%;
    transition:all 0.8s ease;
    -webkit-transition:all 0.8s ease;
    -moz-transition:all 0.8s ease;
    -ms-transition:all 0.8s ease;
    -o-transition:all 0.8s ease;
}
.footer-column ul li a:hover::after{
    width:100%;
    left:0;
}

.contact-moja{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}
.contact-moja span{
    font-size:30px;
    color: var(--main-color);
}

.footer-input,
.textarea{
    margin-bottom: 20px;
    position: relative;
}
.footer-input input{
    width:100%;
    height:50px;
    text-transform: uppercase;
    padding-left:10px;
    outline:none;
    border:none;
    background:transparent;
    color: gainsboro;
    font-family: "Nunito";
}
.footer-column ::placeholder{
    color: gainsboro;
    font-size:13px;
}
.footer-input::after,
.footer-column .textarea::after{
    content: "";
    width:100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom:0;
    left:0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.footer-input:hover::after,
.footer-column .textarea:hover::after{
     width:0;
}
.footer-input::before,
.footer-column .textarea::before{
    content: "";
    position: absolute;
    bottom: 0;
    width:0;
    height: 2px;
    background-color: var(--whitesmoke);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.footer-input:hover::before,
.footer-column .textarea::before{
    width:100%;
}

.footer-column textarea{
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Nunito";
    width:100%;
    height: 150px;
    border:none;
    background: transparent;
    color: gainsboro;
    position:relative;
    resize: none;
    outline:none;
}

.footer-form button{
    width:100%;
    font-family: "Nunito";
    height:50px;
    font-size: 13px;
    text-transform: uppercase;
    border:none;
    color: var(--secondary-color);
    background: var(--main-color);
}
.copyright-section{
    padding: 30px 0;
    background:rgb(33, 57, 107);
}
.copyright-section  .inner-row{
    width: 1200px;
}
.copyright-section-content{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: gainsboro;
}
.copyright-section p{
    font-size:15px;
}
.copyright-section ul{
    display: flex;
    gap:30px;
}
.copyright-section ul li a{
    color: gainsboro;
    font-size:15px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    position: relative;
}
.copyright-section ul li a:hover{
    color: var(--main-color);
}
.copyright-section ul li a::after{
    content: "";
    width: 0%;
    height:2px;
    background-color: var(--main-color);
    position: absolute;
    bottom:-5px;
    left: 50%;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.copyright-section ul li a:hover::after{
     width:100%;
     left:0;
}


@media(max-width:1220px){
    header .inner-row,
    .topbar .inner-row,
    #team .inner-row,
    footer .inner-row,
    .copyright-section .inner-row,
    .expertise-types-row{
        width:90%;
    }
    .service-types-row{
         grid-template-columns: repeat(3,1fr);
         width:80%;
         gap:50px;
    }
    .location-content-row{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-content{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:1100px){
    .team-content-row{
        grid-template-columns: repeat(2,1fr);
    }
    .shift-description-side{
        width: 100%;
    }
    .shift-container-moja .image-side{
        display: none;
    }
    .heritage-left-shifts{
        width: 300px;
    }
   .achievements-content-row{
        grid-template-columns: repeat(2,1fr);
   }
   .about-first-section,
   .about-second-section{
       grid-template-columns: repeat(1,1fr);
   }
   .about-second-section .about-second-image{
        order: 2;
   }
   .about-first-section .about-first-image,
   .about-second-section .about-second-image{
      height: 400px;
   }
   .copyright-section-content{
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
   }
}
@media(max-width:1000px){
    .mobile-trigger-btn{
        display: block;
    }
    .header-content nav ul{
        display: none;
    }
    .header-content nav{
        padding:15px;
        justify-content: flex-end;
    }
    .header-top-section{
        justify-content: center;
    }
    .header-top-section .quick-contact-details{
        display: none;
    }

    .credentials-content .credentials-row,
    .credentials-entry{
        width:100%;
    }
    .credentials-content .back-image{
        display: none;
    }

   .intro-text{
        width: 90%;
   }

   .work-plans-row{
    grid-template-columns: repeat(1,1fr);
    gap:50px;
   }
   .work-plan-description{
    margin-top:7%;
   }
   .description-intro p{
       width: 90%;
   }
   .news-content-row{
       grid-template-columns: repeat(2,1fr);
   }
   .side-by-side-content{
        grid-template-columns: repeat(1,1fr);
   }
   .call-to-action-content{
      grid-template-columns: repeat(1,1fr);
      padding-bottom: 80px;
   }
   .call-to-action-content .description{
    text-align: center;
    padding-bottom: 30px;
   }
   .call-to-action-content .button-side{
       clip-path: none;
       background:none;
   }
}
@media(max-width:768px){
     .credentials-content .credentials-row{
        grid-template-columns: repeat(1,1fr);
     }
     .credentials-entry p,
     .credential-moja p{
        font-size:16px;
     }
    .brand-essentials{
        width:90%;
        margin:80px 0px 10px
    }
    .brand-moja{
        gap:10px;
    }
    .brand-moja .brand-image{
        width:35px;
        height:35px;
    }
    .brand-moja h1{
        font-size:20px
    }
    .down-arrow{
        width:60px;
        height:60px;
        bottom:-30px;
    }
    .down-arrow a{
        font-size:25px;
    }
    .location-content-row{
        grid-template-columns: repeat(2,1fr);
    }

    .heritage-left-shifts{
        width: 30%;
    }
    .heritage-left-shifts ul li{
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .heritage-left-shifts ul li p{
         font-size:16px;
    }
    .overflow a{
        margin-top:30%;
    }

    .map-thingie{
         width: 100%;
    }
    .footer-content{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-column .footer-title{
        margin-bottom: 5%;
    }
    .copyright-section ul{
         flex-wrap: wrap;
         justify-content: center;
    }
}

@media(max-width:600px){
    .topbar-content{
        flex-direction: column;
        gap:5px;
        align-items: center;
    }
   
    .landing .landing-texts{
        width: 270px;
        align-items: center;
        right: 50%;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}
    .landing-texts h1{
        font-size:35px;
    }
    .landing-texts h2{
        display: flex;
        gap:10px;
    }
    .credentials-content{
        padding:50px 30px;
    }
    .credential-moja h2{
        font-size: 18px;
    }

    .intro-text h1{
        font-size:40px;
    }
    .intro-text p{
        font-size:16px;
        line-height: 30px;;
    }
    .service-types-row{
        grid-template-columns: repeat(1,1fr);
        width:100%;
        margin:60px auto 50px auto;
    }
    .location-content-row{
        grid-template-columns: repeat(1,1fr);
    }

    .peace-box-moja{
        width:90%;
    }

    .team-content-row,
    .news-content-row{
        grid-template-columns: repeat(1,1fr);
    }

    .achievements-content-row{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width:480px){
    #achievements .intro-text h1{
        font-size: 30px;;
    }
    .left-side-content,
    .right-side-content{
        padding: 120px 0px;
    }

    .about-second-description{
        text-align: center;
    }
    .value-moja{
         flex-direction: column;
         align-items: center;
    }
    .value-description p{
        margin: 10px auto;
    }
    .about-description-side{
        padding:80px 40px;
    }
    .about-slide{
        text-align: center;
    }
    .slick-arrow{
        border: 1px solid;
        left: 40%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
   .slick-arrow.next-arrow{
       left:60%;
       transform: translateX(-50%)   ;
       -webkit-transform: translateX(-50%)   ;
       -moz-transform: translateX(-50%)   ;
       -ms-transform: translateX(-50%)   ;
       -o-transform: translateX(-50%)   ;
}
}




/*Keyframes*/
@keyframes inMd {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes outMd {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes inTp {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes outTp {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes inBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes outBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }

  
@keyframes grow-width{
    0%{
        width:0;
        transition:all 2s ease    ;
        -webkit-transition:all 2s ease    ;
        -moz-transition:all 2s ease    ;
        -ms-transition:all 2s ease    ;
        -o-transition:all 2s ease    ;
}
    100%{
         width:100%;
         transition: all 2s ease;
         -webkit-transition: all 2s ease;
         -moz-transition: all 2s ease;
         -ms-transition: all 2s ease;
         -o-transition: all 2s ease;
}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

}

@keyframes rotateBack{
    0%{
         transform:none;
         -webkit-transform:none;
         -moz-transform:none;
         -ms-transform:none;
         -o-transform:none;
}
     100%{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
}