@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: rgb(255, 187, 0);
    --secondary-color: rgb(30, 60, 126);
    --whitesmoke: rgb(246, 246, 246);
    --paragraph-color: rgb(192, 192, 192);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito";
    background:rgb(244, 246, 248);
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    height: 100%;
}
/*Utilities */
.inner-row{
    width:1200px;
    margin:auto;
}
.intro-text{
    text-align: center;
    width:760px;
    margin:auto;
}
.intro-text h1{
    font-size: 60px;
    font-family: 'Montserrat';
    color:var(--secondary-color);
    text-transform: capitalize;
}
.intro-text h1 span{
    color: var(--main-color);
}
.intro-text p{
    font-size:20px;
    margin:20px 0;
    line-height: 35px;
    font-weight: 500;
}

.topbar{
    background: var(--whitesmoke);
}
.topbar .inner-row{
    width:1200px;
}
.topbar-content{
    display: flex;
    justify-content:space-between;
    padding:15px 0;
}
.topbar-content span{
    text-transform: uppercase;
    font-size:13px;
    display: flex;
    align-items: center;
    gap:5px;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
.topbar-content span ion-icon{
    font-size: 24px;
    color:var(--main-color);
    margin-top: -3px;
}
.topbar-content .topbar-left span:hover{
    cursor: pointer;
    color: var(--main-color);
}
.landing{
    background: linear-gradient(rgba(32, 32, 32, 0.65), rgba(24, 24, 24, 0.75)), url("../images/portfolio6.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    position: relative;
}
header{
    background:transparent;
}
header .inner-row{
    width:1200px;
}
header .logo{
    width:268px;
}

header .logo img{
    object-fit: contain;
}
.header-top-section{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
}
.header-top-section .quick-contact-details{
    display: flex;
    gap: 50px;
}

.header-top-section .quick-location,
.header-top-section .quick-numbers{
    display: flex;
    align-items: center;
    gap:20px;
}
.header-top-section span{
    width:50px;
    height:50px;
    padding-right: 5px;
    border-right: 1px solid rgb(226, 226, 226);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}
.header-top-section p{
    font-size: 15px;
    color: var(--whitesmoke);
}

.header-content nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:relative;
    background: rgba(146, 146, 146, 0.5);
    padding:0 30px;
}
.header-content nav ul{
    display: flex;
    gap:50px;
    padding:20px 0;
}
.header-content nav ul li a{
     font-size:16px;
     text-transform: uppercase;
     font-weight: 700;
     color:#fff;
}
.header-content nav ul li a:hover,
.header-content nav ul li.active a{
    color:var(--main-color);
}
.header-content nav span{
    font-size: 24px;
    display: inline-flex;
    color: var(--whitesmoke);
}

.mobile-trigger-btn {
    cursor: pointer;
    width: 30px;
    height:auto;
    margin:20px 0px 0px 20px;
    position: absolute;
    left: 40px;
    top:116px;
    z-index:90;
    display: none;
  }
  .mobile-trigger-btn span {
    background: #fff;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
  }
  .mobile-trigger-btn span:nth-child(1) {
    animation: outTp 0.8s backwards;
    -webkit-animation: outTp 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn span:nth-child(2) {
    margin: 5px 0;
    animation: outMd 0.8s backwards;
    -webkit-animation: outMd 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn span:nth-child(3) {
    animation: outBtm 0.8s backwards;
    -webkit-animation: outBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .mobile-trigger-btn.active i:nth-child(1) {
    -webkit-animation: inTp 0.8s forwards;
    animation: inTp 0.8s forwards;
  }
  
  .mobile-trigger-btn.active i:nth-child(2) {
    -webkit-animation: inMd 0.8s forwards;
    animation: inMd 0.8s forwards;
  }
  
  .mobile-trigger-btn.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }


#sidebar{
    z-index:99;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(32, 24, 0, 0.77);
    display: none;
    justify-content: flex-end;
}
.sidebar-content{
    width:300px;
    height:100%;
    background:var(--whitesmoke);
    position: relative;
    padding:30px;
}

.sidebar-content .close-btn{
    text-align: right;

}
.sidebar-content .close-btn ion-icon{
    font-size:35px;
    cursor: pointer;
}
.sidebar-content ul li{
    padding:10px 0;
    border-top:1px solid rgb(209, 209, 209);
}
.sidebar-content ul li a{
    font-weight: 600;
    color:#111;
    font-size: 17px;
}
.sidebar-content ul li.active a,
.sidebar-content ul li a:hover{
     color:var(--main-color);
}

.landing .landing-texts{
    position: absolute;
    right: 5%;
    bottom:10%;
    display: flex;
    align-items: flex-end;
    font-family: "Montserrat";
    color: var(--whitesmoke);
    gap: 10px;
}
.landing-texts h1{
    font-size:50px;
    line-height: 40px;
}
.landing-texts h2{
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500;
}
.landing-texts h2 span{
    color: var(--main-color);
}

#service-body{
     padding: 80px 0px;
}
.service-body-content{
    display: flex;
  
}
.service-body-left-content{
     width: 27%;
}

.service-navigation ul li{
     text-align: right;
     margin-bottom: 10px;
     background:rgb(236, 238, 238);
     border-right: 6px solid var(--main-color);
     position: relative;
}
.service-navigation ul li::after{
    position: absolute;
    top: 0;
    right: -6px;
    content: "";
    width: 0px;
    height: 100%;
    background: var(--secondary-color);
    transition: all 0.3s ease;
}
.service-navigation ul li:hover::after,
.service-navigation ul li.active::after{
    width: 6px;   
} 
.service-navigation ul li.active a,
.service-navigation ul li:hover a{
    color: var(--secondary-color);
}
.service-navigation ul li a{
    padding: 15px;
    font-weight: bold;
    color: #222;
    display: block;
}

.quotation-part{
     padding: 40px;
     background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/work-plan-1.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     text-align: center;
     color: white;
     margin: 40px 0;
}

.quotation-part h3{
     font-size: 35px;
     font-family: "Montserrat";
     color: var(--main-color);
}
.quotation-part h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.quotation-part a{
     width: 150px;
     height: 45px;
     color: var(--secondary-color);
     display: flex;
     justify-content: center;
     align-items: center;
     background: var(--main-color);
     margin: 30px auto 10px auto;
     font-weight: 100;
     font-size: 13px;
     text-transform: uppercase;
     transition: all 0.5s ease;
}
.quotation-part a:hover{
    background: var(--secondary-color);
    color: white;
}

.download-part{
    padding: 15px;
    background: rgb(236, 238, 238);
    color: var(--main-color);
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
     gap: 5px;
     align-items: center;
     margin-bottom: 30px;
}
.download-part:hover span{
     color: #222;
}

.quote-part{
     padding:30px  20px;
     clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 20% 75%, 17% 88%, 14% 75%, 0% 75%);
     background: rgb(235, 238, 241);
     height: 200px;
}

.profile-part{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-part .image-profile{
     width: 100px;
     height: 100px;
     border: 1px solid gainsboro;
     padding: 5px;
     border-radius: 50%;
}
.profile-part .image-profile img{
     border-radius: 50%;
}